<mat-drawer-container class="example-container" autosize>
  <mat-drawer class="color" #drawer>
    <mat-list>
      <a routerLink="cursos" mat-list-item>Cursos</a>
      <a routerLink="alumnos" mat-list-item>Alumnos</a>
      <a routerLink="clases" mat-list-item>Clases</a>
      <button (click)="onLogout" routerLink="auth" mat-list-item>cerrar sesion</button>
    </mat-list>
  </mat-drawer>
  
  <div class="example-sidenav-content  color-bg " >
    <mat-toolbar class="text-black color" >
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span appDirectives>ACADEMIA UA</span>
    </mat-toolbar>
    <main class="">
      <hr />
      <h2   class="text-center text-white" >Administracion</h2>
      <router-outlet />
     
    </main>

   
  </div>
</mat-drawer-container>
